.movie-list-container {
  position: relative;
  padding: 1.5rem
    calc(var(--main-margin) + var(--movie-list-additional-padding)) 0;
}

.movie-list-container .arrow {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 50%;
  translate: 0 -50%;
  transition: 0.3s;
}

.movie-list-container .arrow:hover {
  cursor: pointer;
  translate: 0 -70%;
}

.movie-list-container .arrow.right {
  right: calc(var(--movie-list-additional-padding));
}

.movie-list-container .arrow.left {
  left: calc(var(--movie-list-additional-padding));
}

.movie-list-container h1 {
  font-family: "Roboto Slab";
  margin: 3rem 0;
}

.movie-list {
  display: flex;
  overflow-x: scroll;
  gap: 3rem;
}

.movie-card .poster {
  width: 250px;
  height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card img {
  width: 100%;
}

.movie-card p {
  font-family: "Roboto Slab";
  color: #bbb;
  font-weight: 600;
  margin: 4px 0 0;
  font-size: 1.2rem;
}

.movie-card .title {
  font-weight: bolder;
  font-family: "Roboto Slab";
}

.movie-card .rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.movie-card .rating span {
  font-family: "Roboto Slab";
  font-weight: bolder;
}

.movie-card .rating .imdb {
  color: gold;
  width: 30px;
  height: 30px;
}
