:root {
  --accent: #be122c;
  --light-accent: #eb2d4a;
  --main-margin: 100px;
  --main-margin-phone: 15px;
  --movie-list-additional-padding: 60px;
  --movie-list-additional-padding-phone: 4px;
  color-scheme: light;
  background-color: #fff;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.main-container {
  height: 100dvh;
  display: flow-root;
}
